<h2><%= @post.title %></h2>
<p><%= number_to_currency(@post.price) %></p>
<p><%= @post.body %></p>

<%= link_to "Category Home", @post.category %> |
<%= link_to "Edit", edit_category_post_path(@post.category)%> |
<%= link_to "Delete", [@post.category, @post], method: :delete %>
